#frameIdMercator {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#frameIdMercator .label.published {
  background-color: #88aa00;
}
#frameIdMercator .label.draft {
  background-color: #AEAEAE;
}
#frameIdMercator svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#frameIdMercator svg image {
  pointer-events: none;
}
#frameIdMercator .chartdesigner {
  height: 100%;
}
#frameIdMercator #alert {
  position: fixed;
  width: 100%;
  z-index: 9999;
  color: white;
  text-align: center;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  border-bottom: 2px solid white;
}
#frameIdMercator #alert.notification {
  background-color: #88aa00;
}
#frameIdMercator #alert.warning {
  background-color: #f4a129;
}
#frameIdMercator #alert.keep-visible #ok-got-it-btn {
  margin-left: 0.5em;
}
#frameIdMercator #alert.keep-visible .dismiss-alert {
  display: none;
}
#frameIdMercator #alert.auto-hide #ok-got-it-btn {
  display: none;
}
#frameIdMercator #alert.auto-hide .dismiss-alert {
  display: inline-block;
  width: 4%;
}
#frameIdMercator #alert .message {
  display: inline-block;
  width: 95%;
}
