#frameIdMercator.scrubbingActive * {
  cursor: ew-resize !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
}
#frameIdMercator.scrubbingActive.scrubbing-minReached * {
  cursor: e-resize !important;
}
#frameIdMercator.scrubbingActive.scrubbing-maxReached * {
  cursor: w-resize !important;
}
.editableValue {
  cursor: ew-resize;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50px;
  box-sizing: content-box;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}
.editableValue .valueInput,
.editableValue .valueLabel {
  width: inherit;
  text-align: center;
  border-radius: 3px;
}
.editableValue .valueInput {
  padding: 3px 0;
  border: none;
}
.editableValue .valueLabel {
  padding: 3px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editableValue.mode-valueLabel .valueInput {
  display: none;
}
.editableValue.mode-valueLabel .valueLabel {
  display: block;
}
.editableValue.mode-valueLabel:hover {
  background-color: #ebebeb;
  border-color: #e1e1e1;
}
.editableValue.mode-valueInput .valueInput {
  display: block;
}
.editableValue.mode-valueInput .valueLabel {
  display: none;
}
#frameIdMercator.scrubbingActive .editableValue,
.editableValue.mode-valueLabel:active {
  border-color: transparent;
  background-color: #e1e1e1;
  animation: none;
  transform: scale(0.95);
}
