<div class="bg">
    <div class="background">
        <!-- <div class="shape shape1"></div>
        <div class="shape shape2"></div> -->
    </div>
    <form>
        <h3>Mercator</h3>

        <label for="username">Email</label>
        <input type="text" placeholder="Email" id="username">

        <label for="password">Senha</label>
        <input type="password" placeholder="Senha" id="password">

        <button [routerLink]="['/home']">Acessar</button>
        <p class="link-register">Não possui conta? Clique <span [routerLink]="['/register']" >aqui</span> para se registrar</p>
        <!-- <button [routerLink]="['/home']">Registrar</button> -->

        <!-- <div class="social">
            <div class="go"><i class="fab fa-google"></i> Google</div>
            <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
        </div> -->
    </form>
</div>